<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-test-framework" version="1.1.5">
  <name>Test Framework</name>
  <description>Cordova Test Framework Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,test</keywords>
  <js-module src="www/tests.js" name="cdvtests"/>
  <js-module src="www/jasmine_helpers.js" name="jasmine_helpers"/>
  <js-module src="www/medic.js" name="medic"/>
  <js-module src="www/main.js" name="main"/>
  <asset src="www/assets" target="cdvtests"/>
</plugin>
