html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#title {
  position: fixed;
  height: 30px;
  width: 100%;
  top: 0;
  z-index: 1000;

  background-color: #58b;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#content {
  padding-top: 30px;
  padding-bottom: 150px;
}

#log {
  position: fixed;
  height: 150px;
  width: 100%;
  bottom: 0;
  z-index: 1000;

  background-color: white;
  border-top: 2px solid #777;
  white-space: pre;
}

#log > div {
  border-bottom: 1px solid #ccc;
}
